:root {
  /* primary */
  --clr-primary-50: #ecfdf6;
  --clr-primary-100: #d1fae6;
  --clr-primary-200: #a8f2d2;
  --clr-primary-300: #6fe6bb;
  --clr-primary-400: #36d19e;
  --clr-primary-500: #12b785;
  --clr-primary-600: #07946c;
  --clr-primary-700: #05775a;
  --clr-primary-800: #075e49;
  --clr-primary-900: #07503f;
  --clr-primary-950: #022c23;

  /* nuance */
  --clr-nuance-50: #f6f6f6;
  --clr-nuance-100: #e7e7e7;
  --clr-nuance-200: #d1d1d1;
  --clr-nuance-300: #b0b0b0;
  --clr-nuance-400: #888888;
  --clr-nuance-500: #6d6d6d;
  --clr-nuance-600: #5d5d5d;
  --clr-nuance-700: #4f4f4f;
  --clr-nuance-800: #454545;
  --clr-nuance-900: #3d3d3d;
  --clr-nuance-950: #000000;

  --clr-black: #000000;
  --clr-white: #ffffff;
  --offwhite: #e8e7dd;

  /* font family */
  --ff-poppins: "Poppins", sans-serif;
  --ff-open: "Open Sans", serif;
  --ff-outfit: "Outfit", sans-serif;
  --ff-amatic: "Amatic SC", sans-serif;
  --ff-karla: "Karla", sans-serif;

  /* misc */
  --transition-02: all 0.2s ease-in-out;
  --transition-04: all 0.4s ease-in-out;
}

.mobileHeader {
  display: block;
}

.imgContainer {
  background: linear-gradient(rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.8)),
    url(../images/img2.jpg) no-repeat;
  background-size: cover;
  min-block-size: 50vh;
  display: grid;
  place-items: center;
  position: relative;
}

.imgContainer h1 {
  font-family: var(--ff-open);
  font-weight: 500;
  font-size: 2rem;
  inline-size: 20rem;
  color: var(--clr-white);
  text-shadow: #000000d8 0 15px 15px;
  text-align: center;
  margin-block-start: 2rem;
  line-height: 1.5;
}

.imgContainer p {
  color: var(--offwhite);
  inline-size: 70%;
  background: var(--clr-primary-700);
  padding: 1rem;
  font-size: 1rem;
  font-family: var(--ff-open);
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  border-radius: 5px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  font-weight: 500;
}

.imgContainer p > span > i {
  color: rgb(0, 255, 0);
}

.desktopImgContainer {
  display: none;
}

/* min 650px */

@media screen and (min-width: 650px) {
  .imgContainer p {
    inline-size: 60%;
    font-size: 1.2rem;
  }
}

/* min 1000px */

@media screen and (min-width: 1000px) {
  #header {
    min-block-size: 80vh;
    display: grid;
    place-items: center;
  }

  .mobileHeader {
    display: none;
  }

  .backgroundVideo {
    position: absolute;
    top: 0;
    left: 0;
    inline-size: 100vw;
    object-fit: cover;
    block-size: 95vh;
    z-index: -50;
    filter: brightness(0.5);
    position: fixed;
  }

  .desktopImgContainer {
    display: block;
  }

  .headerImg {
    display: flex;
    max-inline-size: 45rem;
    margin-inline: auto;
    gap: 1.5rem;
  }

  .headerImg img {
    border-radius: 5px;
    filter: brightness(0.8);
    object-fit: cover;
    block-size: 25rem;
  }

  @property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
  }

  .imgBefore {
    position: relative;
    display: grid;
    place-items: center;
    block-size: max-content;
    inline-size: max-content;
  }

  .imgBefore::before,
  .imgBefore::after {
    --angle: 0deg;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    inline-size: 100%;
    block-size: 100%;
    background-image: conic-gradient(
      from var(--angle),
      var(--clr-primary-900),
      var(--clr-primary-950),
      var(--clr-primary-800),
      var(--clr-primary-700),
      var(--clr-primary-900),
      var(--clr-primary-900)
    );
    animation: 8s spin linear infinite;
    z-index: -1;
  }

  @keyframes spin {
    from {
      filter: blur(0.3rem);
      --angle: 0deg;
    }
    to {
      filter: blur(0.3rem);
      --angle: 360deg;
    }
  }

  .headerImg h1 {
    color: var(--clr-primary-600);
    font-family: var(--ff-poppins);
    font-size: 1.7rem;
    text-shadow: black 0 5px 5px;
  }

  .headerImg p {
    color: var(--clr-white);
    inline-size: 80%;
    font-family: var(--ff-outfit);
    font-size: 1.3rem;
    letter-spacing: 0.05rem;
    font-weight: 600;
    line-height: 1.2;
    padding: 0.5rem 1rem;
  }

  .headerImg p > span > i {
    color: rgb(0, 255, 0);
  }
}

/* min 1300px */

@media screen and (min-width: 1300px) {
  .headerImg {
    display: flex;
    max-inline-size: 55rem;
    margin-inline: auto;
    gap: 1.5rem;
  }

  .headerImg p {
    color: var(--clr-white);
    font-family: var(--ff-outfit);
    font-size: 1.7rem;
    letter-spacing: 0.05rem;
    font-weight: 600;
    line-height: 1.4;
  }
}
